div(data-role='page')
  div(data-role='header')
    h1= title
  div(data-role='content')
    ul(data-role='listview', data-inset='true', data-filter='true')
      - each session in sessions
        li
          a(href='/sessions/#{ session.ID }')= session.Title
